*{
    box-sizing: border-box;
  }
  
  body {
    font-family: verdana, arial, sans-serif;
    background-color: #ffffff;
    color: rgb(24, 24, 24);
    margin: 0;
  }
  
  header{
    width: 100%;
    background-color: #47265a;
    color: whitesmoke;
    text-align: center;
    padding: 1px;
    height: 4.6em;
    border-bottom: solid 6px #ebfcfb;
    outline: solid powderblue 1px;
  }
  
  nav{
    float: left; /*Gjør at child-elementer som flyter (float), holder seg inne i boksen */
    width: 100%;
    height: 30px;
    position: relative; /*Gjør at menylinja fester seg til et fast punkt i vinduet når man skroller. Hvor den fester seg, angir man med top, left, right og/eller bottom, som på neste linje.*/
    top: -30px;
    padding-left: 309px;
  }
  
  nav ul {
    margin:0;
    padding: 0px;;
  }

  #websiteInput {
    top: 26px;
  }

  
  nav a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-decoration-line: none;
    color: rgb(46, 57, 59);
    padding: 6px;
  }
  
  li {
    margin: 0 -1px;
    float: left;
    list-style-type: none;
    border-radius: 2px;
    border-right: 1px solid #111;
    border-left: 1px solid #111;
    box-shadow: #8f5faa inset 1px 0px, #8f5faa inset -1px 0px;
    height: 48px;
    position: relative;
    top: -32px;
   }
  li a {
    padding: 17px 20px 5px 20px;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    display: block;
    color: #fff !important;
    font-family: FrancoisOne;
   }

   li a:hover {
    padding: 24px 21px 5px 19px;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    display: block;
    color: #ebfcfb !important;
    text-shadow: #ebfcfb 0px 0px 2px;
    font-family: FrancoisOne;
   }

  nav a:hover{
    background-color: #9f9f9f;
    color: #fff;
    border-radius: 2px;
    height: 48px;
    border-top: 5px solid #ebfcfb;
    background: #47265a url(http://fil.nrk.no/contentfile/web/globalnavigation/topgradient-white.png) repeat-x;
    position: relative;
    width: 98%;
    top: -12px;
    margin-left: 1px;
    margin-right: -1px;
  }

  .liactive {
    color: #fff;
    border-radius: 2px;
    height: 74px;
    border-top: 5px solid #ebfcfb;
    background: #3e2250 url(http://fil.nrk.no/contentfile/web/globalnavigation/topgradient-white.png) repeat-x;
    position: relative;
    top: -37px;
    margin-top: -7px;
    box-shadow:#47265a inset -0px -10px, #8f5faa inset 1px 0px;
  }
  
  .textive {
    padding: 24px 20px 5px 20px;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    display: block;
    color: #fff !important;
    font-family: FrancoisOne;
  }

  .textive:hover {
    padding: 24px 21px 5px 19px;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    display: block;
    color: #ebfcfb !important;
    text-shadow: #ebfcfb 0px 0px 2px;
    background: #3e2250 url(http://fil.nrk.no/contentfile/web/globalnavigation/topgradient-white.png) repeat-x;
    font-family: FrancoisOne;
    position: relative;
    top: -5px
  }

  main{    
    clear:left;
    width: 90%;
    padding: 0px;
    margin: auto;
  } 
    
  footer {
    text-align: center;
    padding: 7px;
    background-color: #595758;
    color: white;
    text-decoration-line: none;
    margin: 0px;
  }
  
  iframe{
    bottom: 1px;
    margin: 0px;
  }

  code{
    font-size: 1.3em;
  }

  .foota, .foota:visited{
    text-decoration-line: none;
    color: white;
  }

  #logo {
    margin-left: 20px;
  }

  .fillpic {
    position:absolute;
    bottom: 22px;
    left:  0px;
  }

  #ishad {
    box-shadow: 0px 4px #3a015c;
    border: none;
  }

  #hea {
    float: left;
    padding-left: 1%;
    font-size: 24px;
    font-weight: bolder;
    font-family: FrancoisOne;
  }

  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 300px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #3a015c;
    border: 4px solid #ebfcfb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  @font-face {
    font-family: FrancoisOne;
    src: url(Exo-VariableFont_wght.ttf);
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  @media only screen and (max-width:800px) {
    #ishad, #anker1, #he3, #hea, h1, h2 {
      font-size: 16px;
      line-height: 13px;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    #websiteInput {
      width: 72px;
      font-size: 8px;
      height: 20px;
      top: 19px;
    }
  }

  @media only screen and (max-width:800px) {
    p, #foota, #anker1  {
      font-size: 11px;
      line-height: 13px;
    }
    footer, a {
      font-size: 8px;
    }
    nav{
      position: relative; 
      top: -30px;
      padding-left: 0px;
      height: 28px
    }
    header{
      width: 100%;
      text-align: center;
      padding: 1px;
      height: 9em;
      border-bottom: solid 6px #ebfcfb;
      box-shadow: 1000px 1000px #595758 ;
      outline: solid powderblue 1px;
    }
  }

  @media only screen and (max-width:800px){
    #logo {
      width: 52px;
      padding-left: 10px;
    } 
  }