*{
    box-sizing: border-box;
  }
  
  body {
    font-family: verdana, arial, sans-serif;
    background-color: #ffffff;
    color: rgb(24, 24, 24);
    margin: 0;
  }
  
  header{
    width: 100%;
    background-color: #3a015c;
    color: whitesmoke;
    text-align: center;
    padding: 1px;
    height: 4em
  }
  
  nav{
    float: left; /*Gjør at child-elementer som flyter (float), holder seg inne i boksen */
    width: 100%;
    height: 100%;
    background-image: url(Textures/bar.png);
    position:static; /*Gjør at menylinja fester seg til et fast punkt i vinduet når man skroller. Hvor den fester seg, angir man med top, left, right og/eller bottom, som på neste linje.*/
    top: 0px;
  }
  
  nav ul {
    margin:0;
    padding: 0px;;
  }
  
  nav li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #87c2c4;
    height: 30px;
  }
  
  /*CSS-regelen under gjør at den siste lenka flyter helt til høyre i vinduet i stedet for til venstre ved siden av de andre. Ta bort kommentarmarkørene for å se hvordan det virker.*/
  /*nav li:last-child{
    float: right;
    border-right: none;
    border-left: 1px solid #f06d06;
  }*/
  
  nav a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-decoration-line: none;
    color: rgb(46, 57, 59);
    padding: 6px;

  }
  
  nav a:hover{
    background-color: rgb(235, 253, 255);
    color: #999999;
    height:  30px;
  }
  
  main{    
    clear:left;
    width: 90%;
    padding: 1em;
    margin: auto;
  } 
    
  footer {
    text-align: center;
    padding: 7px;
    background-color: #595758;
    color: white;
    text-decoration-line: none;
    margin: 0px;
  }
  
  iframe{
    bottom: 1px;
    margin: 0px;
  }

  code{
    font-size: 1.3em;
  }

  #foota{
    text-decoration-line: none;
    color: white;
  }

  .fillpic {
    position:absolute;
    bottom: 22px;
    left:  0px;
  }

  #ishad {
    box-shadow: 0px 4px #3a015c;
    border: none;
  }

  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #3a015c;
    border: 4px solid #ebfcfb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }